/* @charset "ISO-8859-1"; */

 /* @import
	url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css); */
 /* @media screen and (min-width: 1200px) {
  #content-desktop {display: block;}
  #content-mobile {display: none;}
} */


html {
	padding: 0;
	margin: 0;
  width: 100%;
  height: 100%;
}

body {
	padding: 0;
	margin: 0;
	width: 100%;
  height: 100%;
	/* color: white;
  overflow: auto;*/

}
.full-height {
  height: 100%;
}
.topnav
{
	width:100%;
	font-family: 'Comfortaa', cursive;
	display: inline-block;
	text-align: left;
	position: fixed;
	background-color: black;
	overflow: hidden;
	left: 0;
	top: 0;
	color:white;
	height: 60px;
	font-size: 20px;
padding-left: 5px;
  padding-top: 5px;
}
/* For first img */
img {
   object-fit: cover;
   width: 100%;
   height: 100%;
}
.flex-container{
    width: 100%;
		height:100%;
		background-color: black!important;
    /* min-height: 300px; */
    margin: 0 auto;
    display: -webkit-flex; /* Safari */
    display: flex; /* Standard syntax */
}
.flex-container .column{
    /* padding: 10px;
    width:40%;
    /*-webkit-flex: 1;  Safari
    -ms-flex: 1;  IE 10
     flex: 1;   Standard syntax */
}
.content
{
font-family: 'Comfortaa', cursive;
background-color: black!important;
padding-top: 60px;
padding-left:30px;
padding-right: 30px;
/* change-remove */
  padding-bottom: 30px;
text-align: justify;
 font-size: 16px;
 width:60%;
float: left;
color:white;
/* add */
  height: 100vh;
 /* height: calc(var(--vh, 1vh) * 100); */
}

.scene1
{

float: left;
 height: auto;

 /* change */
 height:100vh;
}
.font_change {
	font-family: 'Roboto'!important;
	font-size: 14px!important;
}

#now{
  font-weight: bold;
}

input[type=email] {
	background: transparent;
	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
	border-bottom: 1px solid;
	padding-left: 0;
	outline: none;
	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
	border-bottom: 1px solid white;
	padding-left: 0;
	font-size: 18px;
	width: 250px;
	color: white;

}

input[type=email]:focus {
	border-bottom: 4px solid white;
}



a{
	text-decoration: none;
}

/*Signup*/

#signup {

	font-size: 20px;
  font-family: 'Roboto Mono';
	border-color: white;
	border-width: medium;
  width:100%;


}

.signup {
	border-style: groove;
	border-color: #9FEF31;
	border-width: medium;
	height: 140px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
}

#signup a {
	align-items: right;
	text-decoration: none;
}

 .send_me {
	color: black;
	background-color:#9FEF31;
	font-size: 16px;
	font-weight: bold;
	/* border: 2px solid  white; */
	padding: 4px;
	align-self: right;
  text-decoration: none;
	box-shadow: 0 0 40px 40px $blue inset, 0 0 0 0 $blue;
}

 .send_me:hover {
   	background-color:black;
	border: 5px solid #9FEF31;
  color:#9FEF31
}

small {


	font-size: 16px;
}

.z {
	z-index: 2;
	/* position: absolute; */
}


.contact {
  margin-bottom: 0px;
	padding-left: 4%;
	padding-right: 8%;
	text-align: left;
	background-color: black;
	background-size: 100% 100%;
	height: 220px;
	font-size: 20px;
  width: 100%;
	color:white;

}

.margin_fix {
	margin-top: 0;
}

.padding_eight {
	padding: 8px;
}
.imglogo
{
	width:60px!important;
	height: 60px!important;
}


/* Extra small devices */
			@media (max-width : 500px) {
					/* body {
							color:#DDDDDD;
							background-color: red!important;
							border-top: 2px solid #DDDDDD;
					} */

					#content-desktop{display: none;}
					#content-mobile {display:block;}

.flex-container{
	height: auto;
}
	.content
	{
		width: 100%!important;
		/* padding-top: 35px!important; */
	}

	.img1{
		width: 80%!important;
	height: 300px!important;
	}

	.contact{
		background-color: black;
	}

	.signup
	{
		height: auto;
			font-size: 14px;
	}

	input[type=email]
	{
width: 150px;
	font-size: 14px;
	}
}

/* Small devices */
@media (min-width: 500px) and (max-width: 767px){
			/* body {
					color:#DDDDDD;
					background-color: red!important;
					border-top: 2px solid #DDDDDD;
			} */


			#content-desktop{display: none;}
			#content-mobile {display:block;}

			.flex-container{
				height: auto;
			}
			/* #content-desktop{display: block;}
			#content-mobile {display:none;} */
			.content
			{
				width: 100%!important;
			/* padding-top: 35px!important; */
			}


			.img1{
				width: 80%!important;
			height: 300px!important;
			}
			.signup
			{
				height: auto;
				font-size: 14px;
			}
			input[type=email]
			{
		width: 150px;
			font-size: 14px;
			}


	}

	/* Tablet medium devices */
@media (min-width: 768px) and (max-width: 991px)
{
#content-desktop{display: none;}
#content-mobile {display:block;}

.flex-container{
	height: auto;
}
.content
{
	width: 100%!important;
/* padding-top: 35px!important; */
}

.img1{
	width: 80%!important;
height: 300px!important;
}

.flex-container{
	height: auto;
}
.signup
{
	height: auto;
}
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px)
{
#content-desktop{display: block;}
#content-mobile {display:none;}

.flex-container{
	height: auto;
}
.signup
{
	height: auto;
}
input[type=email]
{
width: 150px;
}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
#content-desktop{display: block;}
#content-mobile {display:none;}

.flex-container{
	height: auto;
}
.signup
{
	height: auto;
}
}
